/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #ffffff; /* cor de fundo suave */
    color: #333;
    line-height: 1.6;
}

/* Cabeçalho / Navegação */
header {
    background-color: #ffffff;
    color: #5a3e8b;
    padding: 10px 0;
    text-align: right;
    display: flex;
    gap: 20px;
    list-style: none;
    position: fixed;
    width: 100%;
    justify-content: flex-end;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px; 
}

nav ul li a {
    text-decoration: none;  /* tira o sublinhado */
    color: #6963a3;           /* cor do texto */
    font-weight: bold;
    padding: 8px 12px;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #ca7c86;
    border-radius: 5px;
}

/* Home */
.Home {
    text-align: center;
    background: linear-gradient(to right, #caa7af, #ac6377);
    color: white;
    display: flex;
    align-items: center;            /* centraliza verticalmente */
    justify-content: space-between; /* deixa um de cada lado */
    gap: 30px;                      /* espaço entre o texto e a imagem */
    padding: 50px;
    padding-top: 70px;
    width: 100%;
}

.TituloHome {
    font-size: 2.5rem;
    text-align: left;
}

.SubtituloHome {
    font-size: 1.2rem;
    margin: 10px auto auto auto;
    text-align: left;
}

.ImagemHome img {
    max-width: 80%;
    height: auto;
}

/* Seções */
.Sobre {
    padding: 20px 50px;
    margin-top: 20px;
    color: #366ab0;
    text-align: center;
    font-size:medium;
}

.ProjetosAcoes {
    padding: 40px 20px;
    background-color: #ef8c29;
    margin-top: 20px;
    color: white;
    align-items: center;            /* centraliza verticalmente */
    justify-content: space-between; /* deixa um de cada lado */
}

.Historia {
    padding: 40px 20px;
    background-color: #ac6377;
    margin-top: 20px;
    border-radius: 10px;
    color: white;
}

.Missao {
    padding: 40px 20px;
    background-color: #ac6377;
    margin-top: 20px;
    border-radius: 10px;
    color: white;
}

.TituloSobre, .Titulo h2, .TituloHistoria h2, .TituloMissao h2 {
    color: #5a3e8b;
    margin-bottom: 15px;
}

/* Projetos */
.ProjetosAcoes .projeto {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
}

.imagemProj img {
    width: 300px;
}

.textoproj p {
    margin-bottom: 25px;
    max-width: 600px;
}

/* História */
.BodyHistoria {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: flex-start;
}

.TextoHistoria, .topicos, .imagemHistoria {
    flex: 1;
    min-width: 250px;
}

.topicos li {
    margin-bottom: 5px;
    list-style: disc;
    margin-left: 20px;
}

.imagemHistoria img {
    max-width: 100%;
    border-radius: 10px;
    border: 2px solid #5a3e8b;
}

/* Missão */
.TextoMissao p {
    text-align: justify;
}

/* Footer */
footer {
    background-color: #5a3e8b;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 40px;
    border-top: 5px solid #ca7c86;
}

footer h5 {
    font-size: 1.2rem;
}